.delete-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 1px;
  top: 4px;
}
.delete-btn:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tasks-container {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 30px;
  min-width: 500px;
  min-height: 700px;
  align-content: center;
  position: relative;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  overflow-y:auto
}

.task {
  display: flex;
  justify-content: flex-start;
  /*border: 1px solid #0d3944;*/
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 1px;
  position: relative;
  color: white;
  background-color: rgba(40, 57, 43, 0.5);
  border-radius: 5px;
  margin-top: 10px;
  transition: transform 0.5s;
  font-family: 'Philosopher', sans-serif;
  font-size: 14px;

}

.task:hover {
  transform: scale(1.1);
}

input[type="checkbox"] {
  color:white;
  background-color: transparent;
  border: none;
  opacity:50%;
}


time.icon
{
  font-size: 1em; /* change icon size */
  display: flex;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: rgba(40, 57, 43, 0.3);
  border-radius: 0.6em;
  overflow: hidden;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: rgba(165, 165, 165, 0.3);
  background-color: rgba(40, 57, 43, 0.3);
  border-bottom: 1px dashed black;
  box-shadow: 0 2px 0 black;
  font-family: 'Philosopher', sans-serif;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: rgba(165, 165, 165, 0.3);
  font-family: 'Philosopher', sans-serif;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: white;
}

h3 {
  text-align: center;
  color: #807c7c;
  opacity: 0.4;
  font-family: 'Philosopher', sans-serif;
}

.tasks-status {
  color: #807c7c;
  position: absolute;
  right: 30px;
}
/*img {*/
/*  background-size: cover;*/
/*}*/
