<div class="container">
  <div class="tasks-container" *ngIf="tasks">
    <time datetime="2014-09-20" class="icon">
      <em>Friday</em>
      <strong>October</strong>
      <span>2</span>
    </time>
    <h3>todo list:</h3>
    <app-filter-tasks (filterTasks)="onFilter($event)">  </app-filter-tasks>
    <app-add-task (addTask)="onAdd($event)"></app-add-task>

    <div class="task" *ngFor="let task of tasks" (dblclick)="onEdit(task)" [ngClass]="{check:task.status==='done'}">
      <input type="checkbox" class="check" name="checkbox" (change)="onToggle(task)">

      <div *ngIf="!selectedTask">
        <span class="task-title">{{ task.title | lowercase}}</span>
        <span class="tasks-status">{{ task.status | lowercase}}</span>
        <button class="delete-btn" (click)="onDelete(task)"><i class="far fa-trash-alt"></i></button>
      </div>

      <div *ngIf="selectedTask">

        <div *ngIf="task.id !== selectedTask.id">
          <span class="task-title">{{ task.title | lowercase}}</span>
          <span class="tasks-status">{{ task.status | lowercase}}</span>
          <button class="delete-btn" (click)="onDelete(task)"><i class="far fa-trash-alt"></i></button>
        </div>
        <div *ngIf="task.id === selectedTask.id">
          <app-edit-task [selectedTask]="selectedTask"
          (sendTaskToListEvent)="sendTaskToListEventHandler(task)">
          </app-edit-task>
        </div>

      </div>
    </div>
  </div>

</div>

