input[type="text"] {
  color:white;
  border:none;
  background:rgba(0,0,0,0.4);
  margin-right: 10px;
  padding: 4px;
  border-radius: 8px;
}

input[type="submit"] {
  color:white;
  border:none;
  background:rgba(0,0,0,0.4);
  margin-right: 10px;
  padding: 6px;
  border-radius: 5px;
  transition: transform 0.5s;
}

input[type="submit"]:hover {
  transform: scale(3.5);
  cursor: pointer;
}

select{
  color:white;
  border:none;
  background:rgba(0,0,0,0.4);
  margin-right: 10px;
  padding: 4px;
  border-radius: 8px;
}
