.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}

label input{
  background-color: transparent;
  border: 1px solid #0d3944;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
  padding: 10px;
}
select {
  background-color: transparent;
  border: 1px solid #0d3944;
  border-radius: 10px;
  text-decoration: none;
  outline: none;
}

::placeholder {
  color: #134E5E;
}

select option {
  background-color: rgba(73, 104, 134, 0.1);
  color: #0d3944;
}
