<div class="add-task-container">
  <form class="form" #taskForm="ngForm" (ngSubmit)="onSubmitTask()">
    <div class="input-wrapper">
      <input class="input" type="text" name="title" [(ngModel)]="title" autocomplete="off" placeholder="Add task">
      {{ onAdd(title) }}
      <select (change)="onChange($event)" class="select">
        <option value="must-do">must do</option>
        <option value="in-progress">in progress</option>
        <option value="thinking">thinking about it</option>
        <option value="done">done</option>
      </select>
    </div>
    <div class="add-btn">

      <button type="submit" class="btn">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </form>
</div>
