.filter-input {
  border-radius: 10px;
  border: none;
  padding:8px;
  padding-left: 10px;
  background: rgba(0,0,0.0.1);
}

input[type="text"] {
  color:white;
  border:none;
  background:rgba(0,0,0,0.6);
  outline: none;
}
